.cart-item-wrapper {
  padding: 20px;
}
.cart-item-wrapper button {
  background: #001529!important;
}
.cart-subtotal-text {
  font-size: 1.2rem;
  padding: 10px 0px;
}
.cart-tax-text {
  font-size: 1rem;
  padding: 10px 0px;
}
.cart-total-text {
  font-size: 1.5rem;
  padding: 10px 0px;
}
.checkout-btn-wrapper-div {
  display: flex;
  padding: 10px 0px;
}

.flex-div-right {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px 30px 0px;
}
.m-right-20 {
  margin-right: 20px;
  font-size: 16px;
  color:tomato;
}