#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout-sider {
  background: #001529!important;
}
.ant-layout-sider-children {
  height: 100vh;
}
.ant-layout-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anticon svg {
  height: 20px;
  width: 20px;
  font-size: 20px;
}
.logo {
  padding-top: 21px;
  padding-bottom: 2px;
}
.logo h3{
  color:rgba(255, 255, 255, 0.65)!important;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0px !important;
}
.ant-menu-item-selected {
  background-color: #047979!important;
}
.spinner{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.spinner-border{
  height: 100px;
  width: 100px;
}
.default-admin-layout > .ant-layout-content {
  height: 80vh;
  overflow-y: scroll;
}

button {
  color: white !important;
  border: none !important;
  box-shadow: none;
  outline: none;
}
.ant-modal-close-x {
  background-color: white !important;
  color: black !important;
}
.ant-table-thead th {
  background-color: #767d83 !important;
  color: white!important;
}
.ant-table-custom .ant-table {
  background-color: #5f5d54!important;
}
.ant-table-custom .ant-table th,
.ant-table-custom .ant-table tr,
.ant-table-custom .ant-table tr td {
  border: none!important;
  color: white
}

.ant-table-custom .ant-table-cell-row-hover {
  background-color: #5f5d54!important;
}

.profile-row h5, .profile-row label {
  color:rgba(0, 0, 0, 0.7);
}
.profile-col-1, .profile-col-2 {
  padding: 10px 20px 20px 20px;
  background: #d1dcdc;
}
.profile-col-1 {
  margin-right: 20px;
}
.profile-col-2 {
  margin-left: 25px;
}
.profile-col-2 ul li {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
}

.logobar {
  margin-left: 20px;
}
.footer {
  background-color: rgb(54, 59, 58);
  color: antiquewhite;
  padding-top: 10px;
  position: relative;
  top: 20px;
}
.footer h4 {
  color: antiquewhite;
}
.foot-col {
  padding-left: 20px;
}
.foot-col ul {
  padding: 0px;
}
.foot-col li {
  list-style-type: none;
  text-align: left;
}
.contactfooter {
  padding-right: 30px;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.m-10 {
  margin: 10px;
  padding: 10px;
  color: white;
}
.loginbutton {
  padding-right: 10px;
  margin-right: 20px;
  border-radius: 35px;
  text-align: center;
  color: rgb(211, 155, 34);
  position: relative;
  left: 100px;
  font-size: 20px;
}
.logintext {
  position: relative;
  bottom: 15px;
}
.header-icons-right {
  color: rgb(211, 155, 34);
  font-size: 12px;
}
.cart-div {
  cursor: pointer;
  color: rgb(211, 155, 34);
  font-size: 12px;
  margin-right: 15px;
}
.cart-span {
  margin-left: 2px;
}
.log-out-span {
  margin-right: 10px;
}

.default-header-layout {
  padding: 10px;
  background: #001529;
  color: rgba(255, 255, 255, 0.65);
}
.default-admin-layout button {
  background: #001529!important;
}

.user-order-inner-table {
  margin-top: -16px;
}
.user-order-inner-table .ant-table-thead th {
  background-color: unset!important;
  color: rgba(0, 0, 0, 0.85)!important;
  font-size: 18px;
}

.user-order-inner-table .ant-table-thead th,
.user-order-inner-table .ant-table-tbody tr td {
  padding: 10px!important;
  border-bottom: unset!important;
}